[submodule "mpc"]
	path = mpc
	url = https://github.com/orangeduck/mpc
[submodule "libdeflate"]
	path = libdeflate
	url = https://github.com/ebiggers/libdeflate
[submodule "wrapper"]
	path = wrapper
	url = https://github.com/wtsi-hpag/SIMDExtensionWrapper
